.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1 {
  margin-top: -12px;
}

p {
  margin-top: -42px;
}

.eGlowCharacter {
  color: white;
  animation-name: eGlowChar;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.eGlowCharacter2 {
  color: white;
  animation-name: eGlowChar;
  animation-duration: 2s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.daysleft {
  color: tomato;
  /*background-color: #282c30; -- Use this if you want the darkened background upto you though. */
  border-radius: 10%;
  animation: eGlow;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 720px) {
  h1 {
    margin-top: 0px;
  }
  p {
    margin-top: -28px;
  }
}

@keyframes eGlow {
  from {color: tomato;}
  to {color: crimson;}
}

@keyframes eGlowChar {
  from {color: tomato;}
  to {color: crimson;}
}